.div {
  display: inline-flex;
  flex-direction: column;

  &-top, &-bottom {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    //border: #328020 solid 1px;
    display: inline-flex;
    justify-content: center;
  }

  &-line {
    border-top: black solid 0.07rem;

    &-focused {
      border-top: blue solid 0.1rem;
    }
  }

  &-cursorLeft {
    background-color: rgba(0, 0, 0, 0.2);
    border-left: blue solid 1px;
  }

  &-cursorRight {
    background-color: rgba(0, 0, 0, 0.2);
    border-right: blue solid 1px;
  }

}
